@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main {
  .hero {
    .hero-container {
      .hero-part1 {
        h1 {
          opacity: 0;
          transform: translateY(-20px);
          animation: slideIn 1s ease-out forwards;
        }
      }
    }
  }
}
