@media (min-width: 768px) {
  header {
    padding: 2vh 4vw;

    nav {
      .nav-part1 {
        a {
          font-size: 1.3rem;
        }
      }

      .nav-part2 {
        i {
          font-size: 1.5rem;
        }
        button {
          font-size: 1rem;
          padding: 0.7rem 1.5rem;
        }
      }
    }
  }

  main {
    padding: 4vh calc(3.2vw + 1px);

    .hero {
      .hero-container {
        .hero-part1 {
          align-items: flex-start;
          h1 {
            font-size: clamp(3rem, calc(7vw + 1px), 4rem);
          }
          p {
            font-size: clamp(1.1rem, calc(2.5vw + px), 1.4rem);
            width: 80%;
          }
        }
        .hero-part2 {
          gap: 2.5rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  header {
    padding: 2vh 3.4vw;

    nav {
      .nav-part1 {
        a {
          font-size: 1.4rem;
        }
      }
      .nav-part2 {
        i {
          cursor: default;
          font-size: 1.5rem;
          padding: 0.4rem 7rem;
          padding-right: 1rem;
          background: rgb(226, 226, 226);
          border-radius: 50px;
          position: relative;

          p {
            display: block;
            font-size: 1rem;
            opacity: 70%;
            font-family: "Poppins", sans-serif;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-80%, -50%);
          }
        }

        button {
          font-size: 1rem;
          padding: 0.5rem 1.4rem;
        }
        i:nth-child(3) {
          display: none;
        }
      }
    }
  }

  main {
    padding: 3dvh 3.2vw;

    .hero {
      padding: 1rem 0;
      padding-bottom: 2rem;
      .hero-container {
        height: fit-content;
        flex-direction: row;

        .hero-part1 {
          width: 50%;
          height: 100%;
          // justify-content: flex-start;
          // align-items: flex-start;
          gap: 2rem;

          h1 {
            font-size: clamp(3rem, calc(5vw + 1px), 6rem);
            line-height: 1.2;
          }
          button {
            display: block;
            font-size: 1rem;
            border: none;
            padding: 8px 1.4rem;
            color: white;
            background: #1d201f;
            border-radius: 30px;
            margin-top: 1rem;
          }
        }
        .hero-part2 {
          width: 50%;
          gap: 2rem;
          grid-template-areas:
            ". . b b"
            "a a b b"
            "a a b b"
            "a a b b"
            "a a b b"
            "a a c c"
            "a a c c"
            ". . c c";
        }
      }
    }
  }
}

@media (min-width: 1199px) {
  header {
    nav {
      .nav-middle {
        display: block;

        ul {
          @include row-center;
          gap: 2rem;

          li {
            list-style: none;

            a {
              text-decoration: none;
              color: $main-font-color;
              font-size: 0.8rem;
              font-family: "Poppins", sans-serif;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  main {
    .destination {
      .dest-container {
        .types-div-2 {
          display: block;
          width: 100%;

          ul {
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            width: 100%;
            gap: calc(3.5vw + 1px);
            padding: 1rem 2rem;
            padding-bottom: 0.6rem;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;

            li {
              list-style: none;
              scroll-snap-align: start;

              a {
                text-decoration: none;
                color: $main-font-color;
                font-size: calc(1.1vw + 1px);
                font-weight: 500;
                font-family: "Poppins", sans-serif;
              }
            }
          }
        }

        .types-div {
          display: none;
        }

        .item-container {
          .items {
            max-width: 22vw;
            aspect-ratio: 3 / 4;
          }
        }
      }
    }
  }
}

@media (min-width: 1549px) {
  header {
    nav {
      .nav-part1 {
        a {
          font-size: clamp(1.5rem, calc(2vw + 1px), 2.2rem);
        }
      }
      .nav-middle {
        display: block;

        ul {
          @include row-center;
          gap: clamp(2.1rem, calc(3vw + 1px), 4rem);

          li {
            list-style: none;

            a {
              font-size: clamp(1.1rem, calc(1.2vw + 1px), 1.6rem);
            }
          }
        }
      }
      .nav-part2 {
        i {
          font-size: 2rem;
          padding: 0.6rem 9rem;
          padding-right: 1.5rem;

          p {
            font-size: 1.2rem;
          }
        }
        button {
          font-size: clamp(1.1rem, calc(1.2vw + 1px), 1.6rem);
          padding: 0.9rem clamp(1.5rem, calc(2vw + 1px), 2.2rem);
        }
        i:nth-child(3) {
          display: none;
        }
      }
    }
  }
  main {
    padding: 2rem clamp(3rem, calc(4vw + 1px), 4rem);

    .hero {
      padding: 3vh 0;
      .hero-container {
        .hero-part1 {
          p {
            font-size: clamp(1.4rem, calc(1.5vw + 1px), 1.8rem);
          }
          button {
            margin-top: 4.5rem;
            font-size: clamp(1.1rem, calc(1.2vw + 1px), 1.6rem);
            padding: 0.9rem clamp(1.5rem, calc(2vw + 1px), 2.2rem);
          }
        }
        .hero-part2 {
          // height: 70dvh;
          // width: 70dvh;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}
