* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  padding: 1rem 1.4rem;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  justify-content: space-between;
}
header nav .nav-part1 a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000022;
}
header nav .nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
header nav .nav-part2 i {
  font-size: 1.5rem;
}
header nav .nav-part2 button {
  font-size: 1rem;
  border: none;
  padding: 8px 1.4rem;
  color: white;
  background: #1d201f;
  border-radius: 30px;
}

main {
  width: 100%;
  padding: 1rem 1.4rem;
}
main .hero {
  width: 100%;
}
main .hero .hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  gap: 3rem;
}
main .hero .hero-container .hero-part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  gap: 1rem;
}
main .hero .hero-container .hero-part1 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.1rem;
  color: #000022;
  line-height: 1.4;
}
main .hero .hero-container .hero-part1 h1 span {
  color: grey;
  font-weight: 700;
}
main .hero .hero-container .hero-part1 p {
  font-size: 1.1rem;
  color: grey;
}
main .hero .hero-container .hero-part1 button {
  display: none;
}
main .hero .hero-container .hero-part2 {
  aspect-ratio: 1/1;
  width: 100%;
  display: grid;
  gap: 1.4rem;
  grid-template-areas: "a a b b" "a a b b" "a a b b" "a a b b" "a a b b" "a a c c" "a a c c" "a a c c";
}
main .hero .hero-container .hero-part2 .imgdiv {
  width: 100%;
  border-radius: 12px;
}
main .hero .hero-container .hero-part2 .imgdiv1 {
  grid-area: a;
  background-image: url("https://plus.unsplash.com/premium_photo-1675433344518-21eb72dfc7a5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
main .hero .hero-container .hero-part2 .imgdiv2 {
  grid-area: b;
  background-image: url("https://images.unsplash.com/photo-1518495973542-4542c06a5843?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
main .hero .hero-container .hero-part2 .imgdiv3 {
  grid-area: c;
  background-image: url("https://plus.unsplash.com/premium_photo-1675826774815-35b8a48ddc2c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

@media (min-width: 768px) {
  header {
    padding: 2vh 4vw;
  }
  header nav .nav-part1 a {
    font-size: 1.5rem;
  }
  header nav .nav-part2 i {
    font-size: 1.5rem;
  }
  header nav .nav-part2 button {
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
  }
  main .hero {
    padding: 2vh calc(1.5vw + 1px);
  }
  main .hero .hero-container .hero-part1 {
    align-items: flex-start;
  }
  main .hero .hero-container .hero-part1 h1 {
    font-size: clamp(3rem, 7vw + 1px, 4rem);
  }
  main .hero .hero-container .hero-part1 p {
    font-size: clamp(1.1rem, 2.5vw + px, 1.4rem);
    width: 80%;
  }
  main .hero .hero-container .hero-part2 {
    gap: 2.5rem;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 2vh 4vw;
  }
  main .hero {
    padding: 4dvh 3vw;
  }
  main .hero .hero-container {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: row;
  }
  main .hero .hero-container .hero-part1 {
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  main .hero .hero-container .hero-part1 h1 {
    font-size: clamp(3rem, 5vw + 1px, 5rem);
  }
  main .hero .hero-container .hero-part1 button {
    display: block;
    font-size: 1rem;
    border: none;
    padding: 8px 1.4rem;
    color: white;
    background: #1d201f;
    border-radius: 30px;
    margin-top: 2rem;
  }
  main .hero .hero-container .hero-part2 {
    width: 50%;
    gap: 2rem;
    grid-template-areas: ". . b b" "a a b b" "a a b b" "a a b b" "a a b b" "a a c c" "a a c c" ". . c c";
  }
}