* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar{
  display: none;
}

@mixin row-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@mixin col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

$main-font-color: #000022;
$secondary-font: "Poppins", sans-serif;

header {
  width: 100%;
  padding: 1rem 1.4rem;
  // background-color: #666370; Good color but not suitable for this project 😊.

  nav {
    @include row-center;
    justify-content: space-between;

    .nav-part1 {
      a {
        text-decoration: none;
        font-size: 1.5rem;
        color: $main-font-color;
        font-weight: 600;
      }
    }

    .nav-middle{
      display: none;
    }

    .nav-part2 {
      @include row-center;

      i {
        font-size: 1.5rem;
        p{
          display: none;
        }
      }

      button {
        font-size: 1rem;
        border: none;
        padding: 8px 1.4rem;
        color: white;
        background: #1d201f;
        border-radius: 30px;
      }
    }
  }
}


main {
  width: 100%;
  padding: 1rem 1.4rem;

  .hero {
    width: 100%;

    .hero-container {
      @include col-center;
      gap: 3rem;

      .hero-part1 {
        @include col-center;
        gap: 1rem;

        h1 {
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          font-size: 2.1rem;
          color: $main-font-color;
          line-height: 1.4;

          span {
            color: grey;
            font-weight: 700;
          }
        }
        p {
          font-size: 1.1rem;
          color: grey;
        }
        button{
          display: none;
        }
      }

      .hero-part2 {
        aspect-ratio: 1/1;
        width: 100%;
        display: grid;
        gap: 1.4rem;
        grid-template-areas:
          "a a b b"
          "a a b b"
          "a a b b"
          "a a b b"
          "a a b b"
          "a a c c"
          "a a c c"
          "a a c c";

        .imgdiv {
          width: 100%;
          border-radius: 12px;
        }

        .imgdiv1 {
          grid-area: a;
          background-image: url("https://plus.unsplash.com/premium_photo-1675433344518-21eb72dfc7a5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
          background-size: cover;
        }
        .imgdiv2 {
          grid-area: b;
          background-image: url("https://images.unsplash.com/photo-1518495973542-4542c06a5843?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
          background-size: cover;
        }
        .imgdiv3 {
          grid-area: c;
          background-image: url("https://plus.unsplash.com/premium_photo-1675826774815-35b8a48ddc2c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
          background-size: cover;
        }
      }
    }
  }
}

.destination{
  width: 100%;
  padding: 1rem 0;

  .dest-container{
    @include col-center;
    align-items: flex-start;
    overflow: hidden;

    .item-container{
      @include row-center;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding: 1rem 2rem;
      width: fit-content;

      

      .items{
        @include col-center;
        align-items: flex-start;
        gap: 1.5rem;
        scroll-snap-align: start;
        flex-shrink: 0;
        max-width: 300px;
        aspect-ratio: 1/1;

        img{
          width: 100%;
          height: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 30px;
        }
      }
    }
  }
}


@import "_media.scss";