@media (min-width: 768px) {
  header {
    padding: 2vh 3vw;

    nav {
      .nav-part1 {
        a {
          font-size: 2.2rem;
        }
      }

      .nav-part2 {
        i {
          font-size: 2.2rem;
        }
        button {
          font-size: 1.5rem;
          padding: 0.7rem 2rem;
        }
      }
    }
  }
}
